BasedOnStyle: LLVM
Language: Cpp
ColumnLimit: 120
ContinuationIndentWidth: 4
DerivePointerAlignment: false
IndentWidth: 4
InsertBraces: true
PointerAlignment: Right
SortIncludes: Never
TabWidth: 4
UseTab: Never
